{% extends "myblog/base.html" %}

{%block source%}
	{%load static from staticfiles%}
	<script type="text/javascript" src="{% static 'myblog/js/jquery-1.12.4.js'%}"></script>
	<script type="text/javascript" src="{% static 'myblog/js/bootstrap.min.js'%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/main.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'myblog/css/reset.css'%}">

	    <!-- river -->
    <link rel="stylesheet" type="text/css" href="{%static 'myblog/river/css/owl.carousel.min.css'%}"/>
	<script src="{%static 'myblog/river/js/jquery-1.11.0.min.js'%}" type="text/javascript"></script>
	<script type="text/javascript" src="{%static 'myblog/river/js/owl.carousel.min.js'%}"></script>

	    <!-- little banner -->
	<link rel="stylesheet" type="text/css" href="{%static 'myblog/lunbo/css/normalize.css'%}" />
	<link rel="stylesheet" href="{%static 'myblog/lunbo/dist/pageSwitch.min.css'%}">
	<script src="{%static 'myblog/lunbo/dist/pageSwitch.min.js'%}"></script>

		    <!-- fonts -->
	<link rel="dns-prefetch" href="//use.fontawesome.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="stylesheet" id="googleFonts-css" href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Oswald|Oswald|Playfair%20Display:400,400italic" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Roboto%3A900%2C700" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Oswald%3A700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link href="http://fonts.googleapis.com/css?family=Raleway%3A700%2C900" rel="stylesheet" property="stylesheet" type="text/css" media="all">
	<link rel="stylesheet" id="googleFonts-css" href="https://fonts.googleapis.com/css?family=Raleway:400,600,700|Oswald|Oswald|Playfair%20Display:400,400italic" type="text/css" media="all">

{%endblock%}
{% block js%}
<script>
	$(document).ready(function() {

		<!-- river -->
        $("#news-slider").owlCarousel({
            items:3,
            itemsDesktop:[1199,2],
            itemsDesktopSmall:[980,2],
            itemsMobile:[600,1],
            pagination:false,
            navigationText:false,
            autoPlay:true
        });

		$('.owl-item').css({'padding':'10px'});

			<!-- 轮播 -->
		$("#container").PageSwitch({
			direction:'horizontal',
			easing:'ease-in',
			duration:1000,
			autoPlay:true,
			loop:'false'
		});
	    <!-- 暂时
        var url = window.location.href;
        page_num = url.split('/').pop();
        $('.next_page').attr('href',Number(page_num) + 1);
        if (page_num > 1) {
            $('.prev_page').attr('href',Number(page_num) - 1);
        }
		-->



		var url = window.location.href;
		page_num = url.split('/').pop();
		$('.next_page').attr('href',Number(page_num) + 1);
		if (page_num > 1) {
			$('.prev_page').attr('href',Number(page_num) - 1);
		}

		$('.ch_page').click(function () {
			var num = $(this).text();
			$.get('/getArticals/'+num,function (dic) {
				$.each(dic.a,function (index,item) {
						$('.list').eq(index).find('.atitle').text(item);
						$('.list').eq(index).find('.blog_content').text(item);


				});
			});

    });


    });

</script>


{% endblock %}

{%block style%}
<style>
		
		a{
			color: #343434;
			transition: all 0.25s ease-in-out;
		}
		a:hover{
				text-decoration: none !important;
				color: #509BA0 !important;
			}


		html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    outline: 0;
		    vertical-align: baseline;
		    background: transparent;
		}


		h1, h2, h3, h4, h5, h6, .block1 p, .blog-category a, .post-meta a, .widget_wysija_cont .wysija-submit {
			    font-family: Oswald, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
			    color: #333;
			}

		form {
		    display: block;
		    margin-top: 0em;
		}

		input[type="text"], input[type="password"], input[type="email"], select, textarea {
		    padding-left: 10px !important;
		}

		.widget_tag_cloud a{
			background: #509BA0;
		}

		.m_cen{
			padding-top: 70px;
		}		

		.list{
		    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
			background-color: #fff;
			width: auto;
			margin-bottom:50px;
			position: relative;
		}

		/* banner */

		#myCarousel{

		}

		/* cards */
		.blog-category{
			text-align: center;
			font-size: 22px;
			padding-top: 50px;
		}

		.blog-category a{
			text-transform: uppercase;
			font-style: normal;
			color: #bbb;
		}
		.blog-category em:before{
		    width: 80px;
		    height: 8px;
		    background: url(http://brixton.premiumcoding.com/demo5/wp-content/themes/brixton/images/brixton-border-left.png) 0 1px no-repeat;
		    margin-top: 12px;
		    margin-left: -90px;
		    position: absolute;
		    content: '';
		}
		
		.blog-category em:after {
		    width: 80px;
		    height: 8px;
		    background: url(http://brixton.premiumcoding.com/demo5/wp-content/themes/brixton/images/brixton-border-right.png) 0 1px no-repeat;
		    margin-top: 12px;
		    margin-left: 10px;
		    position: absolute;
		    content: '';
		}





		.topBlog .c_title{
			padding: 0 30px;
			font-size: 44px;
			text-align: center;
		    margin-bottom: 22px;
		}

		.topBlog .c_title a{
			font-size: 100%;
			color: #333;
		}

		.blogImage{
			vertical-align: baseline;
		}

		.blogImage a{
			transition: all 0.25s ease-in-out;
		}

		.blogImage img{
			padding: 0 30px;
			height: auto;
		}

		.entry .meta{
			padding: 0 30px;
		}

		.entry .blogContent {
		    margin-top: 15px;
		    margin-bottom: 30px;
		}

		.entry .blogContent .blog_content {
		    margin-bottom: 0px;
		    text-align: left;
		    color: #444;
		}

		.blogContent .blog_content p{
		    padding: 10px 0 15px 0;
		    display: block;

		}

		.blog_content .read_more{
			text-align: center;
		}

		.read_more a{
		    font-family: Oswald, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
		        position: relative;
			    letter-spacing: 1px;
			    text-align: center;
			    border-bottom: 2px solid #fff;
			    color: #333 !important;
			    font-size: 22px;
			    text-transform: uppercase;
			    text-decoration: none !important;
			    transition: 1s ease-in-out;
		}

		.read_more a:hover {
		    border-bottom: 2px solid ;
		}

		.blogBottom{
			    float: left;
			    width: 100%;
			    padding: 0 30px;
			    margin-left:-30px;
		        background: url({%static 'myblog/images/card_border.png'%}) 2px 0px repeat-x;

			}

		.blogBottom .post-meta {
		    text-align: center;
		    margin: 40px 0;
		    text-transform: uppercase;
		    font-size: 16px;
		    float: left;
		    height: 47px;
		    line-height: 47px;
		    padding: 0 0 0 30px;
		    margin-left: -45px;
		    background: #333;
		}		

		.blogBottom .post-meta a{
		    padding: 0px 3px;
		    color: #fff !important;
		    font-style: normal;
		    display: inline;
		    border-bottom: 1px solid #333;
			transition: border 0.25s ease-in-out;
		}		

		.post-meta:after {
		    width: 40px;
		    height: 47px;
		    background: url({%static 'myblog/images/right_stuff.png'%}) 0 0 no-repeat;
		    margin-top: 0px;
		    margin-left: 0px;
		    position: relative;
		    float: right;
		    bottom: 0;
		    right: -30px;
		    content: '';
		}

		.post-meta a:hover{
		    border-bottom: 1px solid #fff;
		}

		/* side */
		.sidebar h1, h2, h3, h4, h5, h6 {
		    font-weight: normal;
		    line-height: 110%;
		    color: #999;
		}
		.sidebar{
		    padding: 0 10px 0 0px;
		    margin-left:35px;
			}

		.sidebar .widget_search input, #footer .widget_search input {
		    width: 95%;
		}

		.widget {
		    margin: 0px 0 40px 20px;
		    padding: 30px;
		    border: none;
		    background: none;
		    float: left;
		    width: 100%;
		    background: #fff;
		    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.05);
		}
	
		.widget h3 {
		    font-size: 24px !important;
		    text-transform: uppercase;
		    padding-top: 3px;
		    color: #444;
		}

		.social_icons a{
			background-color: #509BA0 !important;
			float: left;
		    background: #eee;
		    margin-right: 13px;
		    width: 44px;
		    height: 44px !important;
		    border-radius: 90%;
		    line-height: 44px;
		    text-align: center;
		    color: #fff;
		    font-size: 17px;
		}



		.widget-line {
		    width: 305px;
		    margin-bottom: 20px;
		    border-bottom: 2px solid #eee;
		    position: relative;
		    padding: 0 20px;
		    margin: 0px 0 20px -20px;
		    z-index: -1;
		}

		.recent_posts .widgett, .category_posts .widgett {
		    margin: 0px 0 30px 0;
		    padding-bottom: 25px;
		    border-bottom: 1px solid #ededed;
		    padding-right: 30px;
		    padding-left: 30px;
		    margin-left: -30px;
		}
		
		.wttitle {
		}

		.wttitle h4{
		    line-height: 18px;
		    margin-top: 5px;
		}

		.wttitle h4 a{
		    font-size: 16px !important;
		}
		
		.widget ul {
		    list-style: square !important;
		    margin: 0;
		    padding: 0;
		}

		.widget ul li {
		    list-style-type: none;
		    padding-left: 15px;
		}

		.widget_categories ul li:before {
		    width: 6px;
		    height: 6px;
		    background: #509BA0;
		    margin-top: 15px;
		    margin-left: -15px;
		    position: absolute;
		    border-radius: 1px;
		    content: '';
		}

		.widget ul li a {
		    font-size: 15px;
		    color: #999;
		}

		.widget_search form {
		    height: 50px;
		}

		.widget_search form input{
		    height: 44px;
		    border: none;
		    background: #eee;
		    font-size: 15px;
		    color: #aaa;
		}

		.sidebar .widget_search i, #footer .widget_search i{
		    float: right;
		    position: absolute;
		    right: 50px;
		    margin-top: -50px;
		}

		.widget.widget_text {
		    color: #999;
		    font-size: 16px;
		}

		.widget_tag_cloud a {
		    font-size: 12px !important;
		    text-transform: uppercase;
		    color: #fff !important;
		    padding: 0px 12px;
		    margin-bottom: 4px !important;
		    display: inline-block;
		    border-radius: 2px;
		}




		/* pagenavi*/
		.wp_pagenavi{
			    margin: 0px 0 0px 0;
		}
		.wp_pagenavi ul li{
			float:left;
			margin: 10px;
		    background: #fff;
		    margin-right:1px;
		    padding: 15px 18px;
		    text-transform: uppercase;
		    font-size: 16px;
		    font-weight: bold;
		    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
		}
		

		.wp-pagenavi a{
		    color: #343434 !important;
		}
	
		<!-- bottom -->

		.bot1{
			background-color: rgb(58,192,199);
		}

		.pagination{
			position: relative;
			left: 370px;
		}


		.book{
			margin: 0 auto;
		}

		.social img{

			float: left;
			margin-left: 28px;
		}
		.hot{
			margin: 20px auto;

		}

		.hot .hot_span{
			font-size: 20px;
			text-align: center;
		}

<!-- 小轮播 -->

		#container *{
			padding: 0;
			margin: 0;
		}
		#container {
				width: 250px;
				height: 200px;
				overflow: hidden;
		}
		.sections,.section {
			height:100%;
		}
		#container,.sections {
			position: relative;
		}
		.section {
			background-color: #000;
			background-size: cover;
			background-position: 50% 50%;
			text-align: center;
			color: white;
		}
		#section0 {
			background-image: url('{%static "myblog/lunbo/images/lunbo.png"%}');
		}
		#section1 {
			background-image: url('{%static "myblog/lunbo/images/lunbo.png"%}');
		}
		#section2 {
			background-image: url('{%static "myblog/lunbo/images/lunbo.png"%}');
		}
		#section3 {
			background-image: url('{%static "myblog/lunbo/images/lunbo.png"%}');
		}


	<!-- 三图river -->
		.post-slide,{
		    margin: 0 25px;
		}

		.post-content,.post-img{
		    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05) !important;

		}



		.post-slide .post-img{
		    overflow: hidden;
		}
		.post-slide .post-img img{
		    width: 100%;
		    height: auto;
		    transform: scale(1);
		    transition: all 1s ease-in-out 0s;
		}
		.post-slide:hover .post-img img{
		    transform: scale(1.08);
		}
		.post-slide .post-content{
		    background: #fff;
		    padding: 20px;
		}
		.post-slide .post-title{
		    font-size: 17px;
		    font-weight: 600;
		    margin-top: 0;
		    text-transform: capitalize;
		}
		.post-slide .post-title a{
		    display: inline-block;
		    color: #808080;
		    transition: all 0.3s ease 0s;
		}
		.post-slide .post-title a:hover{
		    color: #3d3030;
		    text-decoration: none;
		}
		.post-slide .post-description{
		    font-size: 15px;
		    color: #676767;
		    line-height: 24px;
		    margin-bottom: 14px;
		}
		.post-slide .post-bar{
		    padding: 0;
		    margin-bottom: 15px;
		    list-style: none;
		}
		.post-slide .post-bar li{
		    color: #676767;
		    padding: 2px 0;
		}
		.post-slide .post-bar li i{
		    margin-right: 5px;
		}
		.post-slide .post-bar li a{
		    display: inline-block;
		    font-size: 12px;
		    color: #808080;
		    transition: all 0.3s ease 0s;
		}
		.post-slide .post-bar li a:after{
		    content: ",";
		}
		.post-slide .post-bar li a:last-child:after{
		    content: "";
		}
		.post-slide .post-bar li a:hover{
		    color: #3d3030;
		    text-decoration: none;
		}
		.post-slide .read-more{
		    display: inline-block;
		    padding: 10px 15px;
		    font-size: 14px;
		    font-weight: bold;
		    color: #fff;
		    background: #e7989a;
		    border-bottom-right-radius: 10px;
		    text-transform: capitalize;
		    transition: all 0.30s linear;
		}
		.post-slide .read-more:hover{
		    background: #333;
		    text-decoration: none;
		}

		.post-title a{
			font-size: 22px;
			color: #333 !important;
		}


</style>
{%endblock style%}
{%block body%}


	<div id="myCarousel" class="carousel slide">
		<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="{%static 'myblog/images/nbanner.png'%}" alt="First slide">
			</div>
			<div class="item">
				<img src="{%static 'myblog/images/nbanner.png'%}" alt="Second slide">
			</div>
			<div class="item">
				<img src="{%static 'myblog/images/nbanner.png'%}" alt="Third slide">
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel"
			data-slide="prev">&lsaquo;
		</a>
		<a class="carousel-control right" href="#myCarousel"
			data-slide="next">&rsaquo;
		</a>
	</div>

	<div class="container m_cen">
		<div class="row">
			<div class="col-md-8 col-xs-12 col-sm-12 mtain">
				{%for i in data%}
					<div class="list row">
						<div class="col-xs-12">
							<div class="topBlog">
								<div class="blog-category">
									<em>
										<a href="">fashion</a>
									</em>
								</div>
								<h2 class="c_title">
									<a class="atitle" href="/artical/{{artical.id}}">{{artical.pub_time}}</a>
								</h2>
							</div>
							<div class="row">
								<div class="blogImage col-xs-12">
									<a href="">
										<img class="img-responsive img-rounded" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2016/03/manly1-1180x650.jpg">
									</a>
								</div>
							</div>
							<div class="entry">
								<div class="meta">
									<div class="blogContent">
										<div class="blog_content">
											<p>
												Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsanet iusto odio dignissim qui blandit praesent. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
											</p>
											<p>
												Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit.
											</p>
											<p></p>
											<div class="read_more">
												<a href="">Continue reading</a>
											</div>
										</div>
									</div>
									<div class="blogBottom">
										<div class="post-meta">
											<a class="post-meta-time" href="">May 23, 2014</a>
											<a class="post-meta-author" href="">by Monkey</a>
										</div>
									</div>
								</div>
							</div>
							 <!--
							<div><span class="datetime">{{i.email}}</span></div>
							<div class="discribe ">{{artical.content}}</div>
							<a href="/artical/{{artical.id}}"><botton class="btn btn-default">阅读</botton></a>
							-->
						</div>
					</div>
				{%endfor%}
			</div>
			
				<!-- right-bar-->

			<div class="right_info col-md-4 hidden-sm hidden-xs">
				<div class="row">
					<div class="sidebar ">
						<div class="widget widget_text col-xs-12 hidden-xs hidden-sm">
							<h3>About me</h3>
							<div class="widget-line"></div>
							<div class="row">
								<div class="textwidget col-xs-12">
									<img class="img-responsive" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2015/02/brixton-avatar.jpg">
									Hello, my name is Monkey  I am a blogger living in New York. This is my blog, where I post my photos, fashion trends and tips about the fashion world. Never miss out on new stuff.
								</div>
							</div>
						</div>
			
						<!-- widget_text over-hear -->

						<div class="widget socials">
							<div class="widgett">
								<div class="social_icons">
									<div>
										<a href="">
											<i class="fa fa-some"></i>
										</a>
										<a href="">
											<i class="fa fa-some"></i>
										</a>
										<a href="">
											<i class="fa fa-some"></i>
										</a>
										<a href="">
											<i class="fa fa-some"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- social over-hear -->

						<div class="widget category_posts">
							<h3>Popular Posts</h3>
							<div class="widget-line"></div>
							<div class="widgett">
								<div class="imgholder">
									<a href="" title="Permanent Link to OUT TRIP INTO THE WILD">
										<img class="img-responsive" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2014/06/amory3-285x155.jpg">
									</a>
								</div>
								<div class="wttitle">
									<h4>
										<a href="">OUT TRIP INTO THE WILD</a>
									</h4>
								</div>
							</div>
							<div class="widgett">
								<div class="imgholder">
									<a href="" title="Permanent Link to OUT TRIP INTO THE WILD">
										<img class="img-responsive" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2014/06/amory3-285x155.jpg">
									</a>
								</div>
								<div class="wttitle">
									<h4>
										<a href="">A PERFECT SUIT FOR YOUR NEXT MEETING</a>
									</h4>
								</div>
							</div>
							<div class="widgett">
								<div class="imgholder">
									<a href="" title="Permanent Link to OUT TRIP INTO THE WILD">
										<img class="img-responsive" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2014/06/amory3-285x155.jpg">
									</a>
								</div>
								<div class="wttitle">
									<h4>
										<a href="">PREPARE FOOD LIKE A CHEF</a>
									</h4>
								</div>
							</div>
							<div class="widgett">
								<div class="imgholder">
									<a href="" title="Permanent Link to OUT TRIP INTO THE WILD">
										<img class="img-responsive" src="http://brixton.premiumcoding.com/demo5/wp-content/uploads/2014/06/amory3-285x155.jpg">
									</a>
								</div>
								<div class="wttitle">
									<h4>
										<a href="">HOW TO BECOME YOUR OWN BOSS</a>
									</h4>
								</div>
							</div>
						</div>
						<!-- category_posts over-hear -->
						<div class="widget widget_categories">
							<h3>Categories</h3>
							<div class="widget-line"></div>
							<ul>
								<li class="cat-item cat-item-1"><a href="">Editor's choice</a></li>
								<li class="cat-item cat-item-2"><a href="">Fashion</a></li>
								<li class="cat-item cat-item-3"><a href="">Front Page Slideshow</a></li>
								<li class="cat-item cat-item-4"><a href="">Lifestyle</a></li>
								<li class="cat-item cat-item-5"><a href="">Photography</a></li>
								<li class="cat-item cat-item-6"><a href="">Travel</a></li>
							</ul>
						</div>
						<!-- widget_categories over-hear -->
						<div class="widget widget_search">
							<h3>SEARCH</h3>
							<div class="widget-line"></div>
							<form method="get" class="searchform" action="">
								<input type="text" value="Search and hit Enter...">
								<i class="fa fa-search search-desktop"></i>
							</form>
						</div>
						<!-- widget_search over-hear -->
						<div class="widget widget_text">
							<h3>Advertising section</h3>
							<div class="widget-line"></div>
							<div class="textwidget">
								<a href=""><img src="" alt=""></a>
							</div>
						</div>
						<!-- widget_text1 over-hear -->
						<div class="widget widget_tag_cloud">
							<h3>Tags</h3>
							<div class="widget-line"></div>
							<div class="tagcloud">
								<a href="" class="tag-link-1 tag-link-position-1" style="font-size: 8pt;">1</a>
								<a href="" class="tag-link-2 tag-link-position-2" style="font-size: 8pt;">2</a>
								<a href="" class="tag-link-3 tag-link-position-3" style="font-size: 8pt;">3</a>
								<a href="" class="tag-link-4 tag-link-position-4" style="font-size: 8pt;">4</a>
								<a href="" class="tag-link-5 tag-link-position-5" style="font-size: 8pt;">5</a>
								<a href="" class="tag-link-6 tag-link-position-6" style="font-size: 8pt;">6</a>
								<a href="" class="tag-link-7 tag-link-position-7" style="font-size: 8pt;">7</a>
								<a href="" class="tag-link-8 tag-link-position-8" style="font-size: 8pt;">8</a>
								<a href="" class="tag-link-9 tag-link-position-9" style="font-size: 8pt;">9</a>
								<a href="" class="tag-link-10 tag-link-position-10" style="font-size: 8pt;">10</a>
								<a href="" class="tag-link-11 tag-link-position-11" style="font-size: 8pt;">11</a>
								<a href="" class="tag-link-12 tag-link-position-12" style="font-size: 8pt;">12</a>
								<a href="" class="tag-link-13 tag-link-position-13" style="font-size: 8pt;">13</a>
								<a href="" class="tag-link-14 tag-link-position-14" style="font-size: 8pt;">14</a>
								<a href="" class="tag-link-15 tag-link-position-15" style="font-size: 8pt;">15</a>
								<a href="" class="tag-link-16 tag-link-position-16" style="font-size: 8pt;">16</a>
								<a href="" class="tag-link-17 tag-link-position-17" style="font-size: 8pt;">17</a>
								<a href="" class="tag-link-18 tag-link-position-18" style="font-size: 8pt;">18</a>
							</div>
						</div>
						<!-- widget_tag_cloud over-hear -->
						<div class="widget widget_fbw_id">
							<h3>Like Us On Facebook</h3>
							<div class="widget-line"></div>
							<div class="row">
								<div id="container" class="col-xs-12">
									<div class="sections">
										<div class="section" id="section0"><h3></h3></div>
										<div class="section" id="section1"><h3></h3></div>
										<div class="section" id="section2"><h3></h3></div>
										<div class="section" id="section3"><h3></h3></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



			<div class="wp_pagenavi">
				<ul>
					<li><a href="" class="prev_page" onclick="return false">«</a></li>
					{% for index in data.paginator.page_range %}
						<li><a class="ch_page" href="" onclick="return false">{{index}}</a></li>
					{% endfor %}
					<li><a href="" class="next_page" onclick="return false">»</a></li>
				</ul>
			</div>
		</div>


		<div class="demo">
					<div class="container">
						<div class="row">
							<div class="col-xs-12" style="padding: 1em 0;">
								<div id="news-slider" class="owl-carousel">
									<div class="post-slide">
										<div class="post-img">
											<a href="#"><img src="{%static 'myblog/river/img/img-1.jpg'%}" alt=""></a>
										</div>
										<div class="post-content">
											<h3 class="post-title"><a href="#">Latest News Post</a></h3>
											<p class="post-description">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
											</p>
											<ul class="post-bar">
												<li><i class="fa fa-calendar"></i> 2016-7-28</li>
												<li>
													<i class="fa fa-folder"></i>
													<a href="#">Mockup</a>
													<a href="#">Graphics</a>
													<a href="#">Flayers</a>
												</li>
											</ul>
											<a href="#" class="read-more">read more</a>
										</div>
									</div>


									<div class="post-slide ">
										<div class="post-img">
											<a href="#"><img src="{%static 'myblog/river/img/img-2.jpg'%}" alt=""></a>
										</div>
										<div class="post-content">
											<h3 class="post-title"><a href="#">Latest News Post</a></h3>
											<p class="post-description">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
											</p>
											<ul class="post-bar">
												<li><i class="fa fa-calendar"></i> 2016-7-29</li>
												<li>
													<i class="fa fa-folder"></i>
													<a href="#">Mockup</a>
													<a href="#">Graphics</a>
													<a href="#">Flayers</a>
												</li>
											</ul>
											<a href="#" class="read-more">read more</a>
										</div>
									</div>

									<div class="post-slide">
										<div class="post-img">
											<a href="#"><img src="{%static 'myblog/river/img/img-3.jpg'%}" alt=""></a>
										</div>
										<div class="post-content">
											<h3 class="post-title"><a href="#">Latest News Post</a></h3>
											<p class="post-description">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
											</p>
											<ul class="post-bar">
												<li><i class="fa fa-calendar"></i> 2016-7-29</li>
												<li>
													<i class="fa fa-folder"></i>
													<a href="#">Mockup</a>
													<a href="#">Graphics</a>
													<a href="#">Flayers</a>
												</li>
											</ul>
											<a href="#" class="read-more">read more</a>
										</div>
									</div>

									<div class="post-slide">
										<div class="post-img">
											<a href="#"><img src="{%static 'myblog/river/img/img-4.jpg'%}" alt=""></a>
										</div>
										<div class="post-content">
											<h3 class="post-title"><a href="#">Latest News Post</a></h3>
											<p class="post-description">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec elementum mauris. Praesent vehicula gravida dolor, ac efficitur sem sagittis.
											</p>
											<ul class="post-bar">
												<li><i class="fa fa-calendar"></i> 2016-7-29</li>
												<li>
													<i class="fa fa-folder"></i>
													<a href="#">Mockup</a>
													<a href="#">Graphics</a>
													<a href="#">Flayers</a>
												</li>
											</ul>
											<a href="#" class="read-more">read more</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


		<!--
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		    <li>
		      <a class="prev_page ch_page" href="#" onclick="return false" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		  	{% for index in data.paginator.page_range %}

		  	<li><a href="" class="ch_page" onclick="return false">{{index}}</a></li>
			{% endfor %}
		    <li>
		      <a class="next_page ch_page" href="#"  onclick="return false" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		-->





	


{%endblock%}




